
<div class="container">
<h1>Signup</h1>
<form action="user/signup" method="post" class="form-register">
  <div class="form-group">
    <label>First</label>
    <input name="first" type="text" class = "form-control" placeholder="First Name"/>
  </div>
  <div class="form-group">
    <label>Last</label>
    <input name="last" type="text" class = "form-control" placeholder="Last Name"/>
  </div>
  <div class="form-group">
    <label>Email/Username</label>
    <input name="email" type="email" class = "form-control" placeholder="Username/Email"/>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input name="password" type="password" class = "form-control" placeholder="Password"/>
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input name="password2" type="password" class = "form-control" placeholder="Confirm Password"/>
  </div>
  <div class="form-group">
    <label>Date of birth</label>
    <input name="dob" type="Date" class = "form-control" placeholder="mm/dd/yyyy"/>
  </div>  
  <div class="form-group">
    <label>Number of dependents</label>
    <input name="dependents" type="text" class = "form-control" placeholder="No of dependents"/>
  </div>  
  <input type="submit" />
</form>
</div>